@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #c8c4e3;
    background-image: url(merely-cubed.png);
    color: #171426;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

a {
    color: #6155a6;
    text-decoration: none;
}

a:hover {
    opacity: .9;
    text-decoration: underline;
}

.container {
    background-color: #fff;
    border-radius: 15px;
    width: 1000px;
    max-width: 100%;
    display: flex;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

form {
    border-right: 1px solid #ecf2ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex: 1;
}

.form-control {
    margin: 10px 0;
    width: 100%;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

input:not([type="checkbox"]) {
    background-color: transparent;
    border: 2px solid #ecf2ff;
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

input {
    outline: none;
}

input:focus {
    border: 2px solid #6155a6;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label::before {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    border: 2px solid #7a7e8c;
    background-color: #fff;
    display: block;
    content: "";
    float: left;
    margin: 2px 5px 0 0;
  }

input[type="checkbox"]:checked+label::before {
box-shadow: inset 0px 0px 0px 3px #fff;
background-color: #000;
border: 2px solid #000;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
}

.checkbox-container label {
    color: #7a7e8c;
    font-weight: normal;
}

input[type="checkbox"]:checked+label {
    color: #000;
}

.checkbox-container a {
    margin-left: auto;
}

.btn {
    background-color: #141c2c;
    border: 2px solid #141c2c;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    cursor: pointer;
}

.btn-ghost {
    background-color: transparent;
    border-color: #ecf2ff;
    color: #141c2c;
}

.btn:hover, .btn:focus {
    transform: scale(1.01);
}

.fa-google {
    margin-right: 10px;
    font-size: 20px;
}

.features {
    flex: 1.5;
    padding: 40px;
}

.feature {
    padding-left: 30px;
    position: relative;
    margin: 40px 0;
}

.feature i {
    color: #6155a6;
    font-size: 20px;
    position: absolute;
    top: 5px; 
    left: -10px;
}

.feature h3 {
    margin: 0;
}

.feature p {
    font-size: 14px;
    line-height: 1.8;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    form {
        border-right: 0;
    }
}